.search-icon:hover {
    cursor: pointer;
    background-color: rgb(80, 80, 241);
    color: white;
    transition: 0.2s ease;
    transform: translate3d(10%);
}

.search-input:focus {
    transform: translateY(-5px);
    transition: 0.2s ease;
    box-shadow: 10px 10px 30px black;
    border-radius: 10px;
    border-bottom: none;
}

.search-results {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    margin-top: 50px;
    margin-left: 270px;
}

.main-searches {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.main-searches button{
    color: black;
    border-radius: 100px;
    padding: 7px;
    background-color: #e9e6e6;
}


.main-searches button:hover{
    background-color: #ccc;
    cursor: pointer;
    transition:0.2s ease;
    box-shadow: 3px 3px 10px gray;
    transform: translateY(-3px);
}

.Suggestions{
    width: 60%;
    height: 460px;
    box-shadow: 0px 0px 10px black;
    margin-top: 5px;
    margin-left: 270px;
    border-radius: 20px;
    padding: 20px;
}

.results{
    padding: 10px;
    border-radius: 16px;
    animation: results 0.7s;
    background-color: #efefef;
}

.results:hover{
    background-color:rgb(80, 80, 241) ;
    color: white;
    box-shadow: 10px 10px 20px black;
    transition: 0.2s ease;
}

@keyframes results {
    from{
        transform: translateY(-15px);
        transition: 0.2s ease;
    }

    to{
        transform: translateY(0px);
        transition: 0.2s ease;
    }
}

.search-for-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 15px;
}

.searching-for-text{
    color: green;
}
